* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  outline-width: 0;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
